<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Change Password</title>
    <style>
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>

<body style="background-color: grey" class="center-block">
<div style="text-align: center" class="container">
    <div style="text-align: center">
        <h3 style="color: blue">Change Password</h3>
    </div>

    <hr>
    <div style="text-align: center">
        <form action="#" th:action="@{/admin/changePassword}" th:object="${user}" method="post">
            <input hidden="hidden" th:field="*{userId}">

            <input type="password" th:name="oldPassword" class="center-block form-control mb-4 col-4"
                   placeholder="Old Password" required/>
            <input type="password" th:name="newPassword" class="center-block form-control mb-4 col-4"
                   placeholder="New Password" required/>

            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
    </div>

    <hr>
    <a th:href="@{/admin/users}" style="color: blue">Back to Users</a>

</div>
</body>