<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Leaves Directory</title>
</head>

<body style="background-color: beige">

<div style="text-align: center; background-color: white" class="container">

    <h3 style="color: black">Manage Department Leaves</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Employee Name</th>
            <th>Leave Reason</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Number of Days</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="leave:${allEmployeesLeavesUnderManager}">

            <td th:text="${leave.user.getFirstName()} + ' ' + ${leave.user.getLastName()}"></td>
            <td th:text="${leave.leaveReason}"></td>
            <td th:text="${leave.fromDate}"></td>
            <td th:text="${leave.toDate}"></td>
            <td th:text="${leave.noOfDays}"></td>
            <td th:text="${leave.status}"></td>

            <td>

                <form action="#" th:action="@{/manager/acceptLeaveRequest(leaveId=${leave.leaveId})}" th:object="${leave}" method="post">
                    <button th:disabled="${leave.getStatus()=='ACCEPTED' or leave.getStatus()=='REJECTED'}" type="submit" style="background-color: green" class="btn btn-info btn-sm">Accept</button>
                </form>
                <form action="#" th:action="@{/manager/rejectLeaveRequest(leaveId=${leave.leaveId})}" th:object="${leave}" method="post">
                    <button th:disabled="${leave.getStatus()=='ACCEPTED' or leave.getStatus()=='REJECTED'}" type="submit" style="background-color: red" class="btn btn-info btn-sm">Reject</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <div>
        <h5 th:text="${allEmployeesLeavesUnderManager.size() + ' available leaves from your employees'}" style="color: red"></h5>
    </div>

    <hr>
    <a th:href="@{/manager/managerHome}" style="color: blue">Home</a>
</div>

</body>
</html>