<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Users Directory</title>
</head>

<body style="background-color: beige">

<div class="container" style="background-color: white; text-align: center">

    <div style="text-align: center">
        <h3 style="color: black">Manage System Users</h3>
    </div>

    <hr>
    <hr>

    <div>
        <h5 th:text="${allUsers.size() + ' active users in the system'}" style="color: red"></h5>
    </div>

    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Hire Date</th>
            <th>Role</th>
            <th>Manager</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user:${allUsers}">

            <td th:text="${user.userId}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.hireDate}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user?.manager?.getFirstName() ?: ''} + ' ' + ${user?.manager?.getLastName() ?: ''}"></td>

            <td>
                <a th:href="@{/admin/showUserFormForUpdate(userId=${user.userId})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/admin/showUserFormForUpdatePassword(userId=${user.userId})}" class="btn btn-info btn-sm">Change Password</a>
                <a th:classappend="${user.getRole() == 'MANAGER'}? 'disabled'" th:href="@{/admin/showSelectManager(userId=${user.userId})}" class="btn btn-info btn-sm">Set Manager</a>
                <a th:href="@{/admin/deleteUser(userId=${user.userId})}" class="btn btn-danger btn-sm" onclick="if (!(confirm('Do you want to delete this user?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/admin/registerUser}" class="btn btn-primary btn-sm mb-3 form-check-inline">Register User</a>
    <hr>
    <a th:href="@{/mainApp}" style="color: blue">Home</a>

</div>

</body>
</html>