<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Leave</title>

    <style>
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

</head>

<body style="background-color: grey">
<div style="text-align: center" class="container">
    <h3 style="color: black">Register New Leave</h3>
    <hr>

    <div>
        <h5 th:if="${user?.annualLeaveDays < 1}" style="color: red">You don't have any leave days.</h5>
        <h5 th:if="${user?.daysFromHire < 90}" style="color: red">You have not passed your probation period</h5>
    </div>
    <hr>
    <form id="register-leave" action="#" th:action="@{/user/saveNewLeave}" th:object="${leave}" method="post">

        <label style="color: black">Leave Reason:
            <select th:field="*{leaveReason}">
                <option value=""></option>
                <option value="Annual Leave">Annual Leave</option>
                <option value="Sick Leave">Sick Leave</option>
                <option value="Personal Leave">Personal Leave</option>
            </select>
        </label>

        <input id="from-date" type="date" th:field="*{fromDate}" class="center-block form-control mb-4 col-4"
               placeholder="From Date" required/>
        <input id="to-date" type="date" th:field="*{toDate}" class="center-block form-control mb-4 col-4"
               placeholder="To Date" required/>
        <p id="date-error" style="color: red"></p>

        <hr>

        <button th:disabled="${user.daysFromHire < 90 || user.annualLeaveDays < 1}" id="save-leave" type="submit"
                class="btn btn-info col-2" onclick="return validateDates()">Save Leave
        </button>
    </form>

    <hr>
    <hr>
    <a th:href="@{/user/userHome}" style="color: blue">Back To User Home</a>
</div>

<script>
    function validateDates() {
        let fromDate = new Date(document.getElementById("from-date").value);
        let toDate = new Date(document.getElementById("to-date").value);
        let form = document.getElementById("register-leave");
        let dateError = document.getElementById("date-error");
        let today = new Date().setHours(0, 0, 0, 0);

        form.addEventListener('submit', (e) => {
            let message;

            if (fromDate <= today || toDate <= fromDate) {
                message = "From Date is before Current Date or To Date is before From Date"
            }

            if (message.length > 0) {
                e.preventDefault();
                dateError.innerText = message;
            }
        })
    }
</script>

</body>
</html>