<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Update User</title>

    <style>
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

</head>

<body style="background-color: beige">
<div style="text-align: center" class="container">
    <h3 style="color: black">Update User</h3>
    <hr>

    <form action="#" th:action="@{/admin/updateUser}" th:object="${user}" method="post">

        <input hidden="hidden" th:field="*{userId}">

        <label>First Name</label>
        <input type="text" th:name="firstName" th:field="*{firstName}" class="center-block form-control mb-4 col-4" placeholder="First Name"/>

        <label>Last Name</label>
        <input type="text" th:name="lastName" th:field="*{lastName}" class="center-block form-control mb-4 col-4" placeholder="Last Name"/>

        <label>Email</label>
        <input type="email" th:name="email" th:field="*{email}" class="center-block form-control mb-4 col-4" placeholder="Email"/>

        <label>Username</label>
        <input type="text" th:name="username" th:field="*{username}" class="center-block form-control mb-4 col-4" placeholder="Username"/>

        <label style="color: black">ROLE:</label>
        <select th:field="*{role}" th:name="role">
            <option value=""></option>
            <option value="MANAGER">MANAGER</option>
            <option value="EMPLOYEE">EMPLOYEE</option>
        </select>

        <hr>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <hr>
    <a th:href="@{/admin/users}" style="color: blue">Users</a>
    &emsp;
    <a th:href="@{/mainApp}" style="color: blue">Home</a>
</div>
</body>
</html>